--swiftversion 5.5
--header strip
--exclude **/Generated
--maxwidth 140
--wraparguments before-first
--wrapcollections before-first
--enable isEmpty,organizeDeclarations,markTypes
--lifecycle viewDidLoad,viewWillAppear,viewDidAppear,viewDidDisappear,viewWillDisappear
