--swiftversion 5.3
--header "\n{{ cookiecutter.name }}\nCopyright © {created.year} {{ cookiecutter.organization }}. All rights reserved.\n//"
--exclude **/Generated
--maxwidth 140
--wraparguments before-first
--wrapcollections before-first
--enable isEmpty,organizeDeclarations
--lifecycle viewDidLoad,viewWillAppear,viewDidAppear,viewDidDisappear,viewWillDisappear
